name: Run Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: example
        options: >-
          --health-cmd "mongosh --eval 'db.runCommand({ping: 1})' --quiet"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run unit tests
        run: |
          python -m pytest tests/test_transfert_csv_mongodb_test_docker.py -v
          python -m pytest tests/test_test_integrite_donnees_test_docker.py -v
          python -m pytest tests/test_optimiser_collection_test_docker.py -v

      - name: Run integration tests
        env:
          # Ici, on remplace 'mongodb' par 'localhost' car le service est mappé sur le runner
          MONGO_URI: "mongodb://root:example@localhost:27017/"
          # On utilise le chemin relatif car on est à la racine du repo GitHub
          CSV_FILE_PATH: "data/healthcare_dataset.csv" 
        run: |
          python scripts/transfert_csv_mongodb_test_docker.py
          python scripts/optimiser_collection_test_docker.py
          python scripts/test_integrite_donnees_test_docker.py
